<%- include ("partials/header"); -%>

<h1>Home</h1>
<p><%= home %></p>

<% journal.forEach((post)=>{ %>
        <h1><%= post.title %></h1>
        <p>
                <%= post.content.substring(0,100) + "..." %>
                <a href="/posts/<%=post.title%>">READ MORE</a>
        </p>
<% }) %>

<%- include ("partials/footer"); -%>