<%- include ("partials/header"); -%>

<h1 class="about">HOME</h1>
<p class="par">All the post composed will be shown here. You can read any of the posts by clicking on read more.</p>

<% journal.forEach((post)=>{ %>
        <h1><%= post.title %></h1>
        <p>
                <%= post.body.substring(0,100) + "..." %>
                <a href="/posts/<%=post._id%>">READ MORE</a>
        </p>
<% }) %>

<%- include ("partials/footer"); -%>